.navbar {
  display: none;}

@media all and (min-width: 800px){
  .navbar {
    display: block;
    background-color: #444;
    height: auto;
    border-radius: 0;
    padding-top: px;
    padding-bottom: 10px;
    z-index: 3;
    -webkit-box-shadow: 0px 3px 5px 0px #222;
    -moz-box-shadow: 0px 3px 5px 0px #222;
    box-shadow: 0px 3px 5px 0px #222; }
    .navbar .navchoice {
      text-align: center;
      text-transform: uppercase;
      font-weight: 100;
      font-size: 1.1vw; }
      .navbar .navchoice i {
        margin-bottom: 5px; }
      .navbar .navchoice a:hover {
        color: #AAA;
        text-decoration: none; }
        .navbar .navchoice a:hover i {
          color: #AAA; }
    .navbar * {
      color: white; }
}
